.about {
  background: var(--clr-light-bg);
  &__splash {
    height: 450px;

    background-image: url("../public/aboutImages/Cape-Town-Table-Mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
      color: white;
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
    }
  }

  &__info {
    max-width: 800px;
    margin: auto;
    text-align: center;

    h2 {
      margin-top: 2rem;
      line-height: 4rem;
    }

    p {
      line-height: 2rem;
      margin: 2rem 1rem;
    }
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section {
  /* background: green; */
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h2 {
  margin-top: 2em;
}

.section p {
  margin: 1.25em 1em;
}

.section br {
  margin: 1em;
}

.section img {
  margin-top: 1em;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .aboutSplash_Section {
    height: 640px;
  }
}
