.rfq {
  &__dashboardButton {
    position: sticky;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    margin: 0;
    width: 120px;
    padding: 0.6rem;
  }

  header {
    text-align: left;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // border-bottom: 1px solid darkgray;

    img {
      width: 150px;
      margin: 1rem;
    }
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  &__underMinQty {
    color: red;
    font-weight: bold;
  }

  &__overMinQty {
    color: green;
  }

  &__costPerBag {
    color: rgb(167, 167, 167);
    font-style: italic;
  }

  &__BagsWholesale {
    // outline: 1px solid red;

    section {
      // outline: 1px solid green;
      width: 100%;
      // margin: 1rem;
      // padding: 1rem;
    }
    img {
      width: 100%;
      margin-top: 2rem;
    }

    &--title {
      margin: 1rem;
      text-align: left;
    }

    &--description {
      margin: 1rem;
    }

    &--retail {
      background: hsl(0, 0%, 80%);
      padding: 1rem;
      margin: 1rem;
      text-align: center;
    }

    &--wholesale {
      padding: 1rem;
      p {
        text-align: right;
      }
      label {
        // width: 400px;
        margin-left: 2rem;
      }
    }
  }

  &__orderSummary {
    border-top: 4px dashed black;
    margin-top: 2rem;
    padding: 1rem 1rem 1rem 1rem;

    input {
      display: none;
    }
    p {
      // padding: 0 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    label {
      text-align: center;
    }
    button {
      margin: 2rem auto;
      width: 100%;
    }
    &--total {
      font-size: 1.2rem;
      font-weight: bold;
    }
    h3 {
      margin: 1rem 0;
    }
    &--headings {
      border-bottom: 1px solid black;
    }
  }

  &__deliveryDetails {
    padding: 1rem;
    background: lightgray;
    margin: 3rem 0 1rem 0;
  }
}

@media (min-width: 768px) {
  .rfq {
    // background: red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

    header {
      margin: auto;
      p {
        max-width: 650px;
      }
    }
    &__BagsWholesale {
      width: 500px;
    }
    &__orderSummary {
      width: 100%;
    }
  }
}

@media (min-width: 1279px) {
  .rfq {
    max-width: 1280px;
    margin: auto;
    &__BagsWholesale {
      width: 45%;
    }
  }
}
