.rfq {
  header {
    text-align: left;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // border-bottom: 1px solid darkgray;

    img {
      width: 150px;
      margin: 1rem;
    }
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  &__underMinQty {
    color: grey;
  }

  &__overMinQty {
    color: green;
  }

  &__BagsWholesale {
    // outline: 1px solid red;

    section {
      // outline: 1px solid green;
      width: 100%;
      // margin: 1rem;
      // padding: 1rem;
    }
    img {
      width: 100%;
      margin-top: 2rem;
    }

    &--title {
      margin: 1rem;
      text-align: left;
    }

    &--description {
      margin: 1rem;
    }

    &--retail {
      background: hsl(0, 0%, 80%);
      padding: 1rem;
    }

    &--wholesale {
      padding: 1rem;
      p {
        text-align: right;
      }
      label {
        // width: 400px;
        margin-left: 2rem;
      }
    }
  }

  &__orderSummary {
    border-top: 1px dashed black;
    padding: 1rem;
    p {
      // padding: 0 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    label {
      text-align: center;
    }
  }
}

// &__bags {
//   margin: 1rem;
//   padding-top: 3rem;
//   border-top: 1px solid lightgrey;
//   text-align: center;

//   img {
//     max-width: 350px;
//     margin: 1rem;
//   }
//   &Numbers {
//     display: flex;
//     margin: 1rem;
//     text-align: right;

//     div {
//       padding: 1rem;
//       // border: 1px solid black;
//       width: 50%;
//     }
//     div:nth-child(2) {
//       background: lightgrey;
//     }
//   }
// }
// &__sliced {
//   margin: 1rem;
//   border: 1px solid black;
//   text-align: center;

//   img {
//     max-width: 350px;
//     margin: 1rem;
//   }
//   &Numbers {
//     display: flex;
//     margin: 1rem;

//     div {
//       border: 1px solid black;
//       width: 50%;
//     }
//   }
// }
