.backorderHistory {
  width: 100vw;
  min-height: 100vh;

  h1 {
    text-align: center;
    margin: 1rem auto;
    margin-top: 4rem;
  }

  button {
    margin: 0;
    padding: 0.7rem;
    position: fixed;
    background: lightgrey;
  }
  button:nth-child(1) {
    left: 0;
    width: 80%;
  }
  button:nth-child(2) {
    right: 0;
    width: 20%;
  }

  &__list {
    width: 100%;
  }
}

.backorderItem {
  width: 100%;
  border-top: 1px solid black;
  padding: 1rem 5rem;
  display: flex;

  div {
    width: 50%;
  }
}
