.backorder {
  min-height: 100vh;
  width: 100vw;

  &__logo {
    margin: 2rem auto;
    // margin: 4rem;
    width: 150px;
  }

  &__title {
    color: black;
    margin: 0 auto;
    // margin-top: 2rem;
    max-width: 400px;
    // padding: 1rem 2.8rem;
    // text-align: left;
  }
  &__description {
    color: black;
    margin: auto;
    max-width: 400px;
    padding: 0.5rem 2.8rem;
    text-align: center;
  }
  &__form {
    position: relative;
    padding: 1rem 2.8rem;
    width: 100%;
    margin: 2rem auto;
    textarea {
      height: 10rem;
    }
  }

  &__copyrightNotice {
    color: black;
  }
}
