.dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: linear-gradient(to right, #485563, #29323c);
  text-align: center;
  h2 {
    // margin: 2rem;
  }

  &__tools {
    width: 100%;
    // border: 1px solid white;
    border-radius: 1rem;
    margin: 3rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    p {
      margin: 1rem;
      padding: 0.25em;
      background: hsl(0, 0%, 100%);
      //   border: 1px solid white;
      color: black;
      list-style: none;
      cursor: pointer;
      &:hover {
        background: hsl(0, 0%, 87%);
      }
    }
    &__tool {
      // background: hsl(0, 0%, 92%);
      border: 3px solid white;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      min-width: 150px;
      max-width: 250px;
      border-radius: 25px;
      // filter: drop-shadow(0, 0, 25, black);

      label {
        margin-top: 0.75rem;
        // margin: auto;

        // color: black;
        font-weight: bold;
      }
      &:hover {
        cursor: pointer;
        // outline: 5px solid white;
        background: rgba(255, 255, 255, 0.185);
      }
    }

    &__backorder {
      margin: 1rem;
      margin-top: 3rem;
      border: 1px solid white;
      padding: 1rem;

      div {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        p {
          width: 50%;
        }
      }
    }
  }
}

.profileItem {
  text-align: left;
  width: 100%;
  &__item {
    // text-align: right;
    display: inline-block;
    min-width: 20ch;
    // margin-right: 1rem;
    color: grey;
  }
  &__value {
    display: inline-block;
    min-width: 20ch;
    font-weight: 100;
  }
  &__changeBtn {
    margin: 0;
    padding: 0.3em 0.8em;
    margin: 0.25em;
    // margin-right: 0%;
  }
}

.accountIcon {
  max-width: 50px;
}
.dashboardToolIcon {
  max-width: 80px;
}

@media (min-width: 768px) {
  .dashboard {
    &__tools {
      max-width: 600px;
    }
  }
}
