.home {
  &__heroSection {
    height: 100vh;
    background-image: url("../public/homeImages/heroSectionBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    img {
      max-height: 30%;
      margin: 0 1rem 10rem 1rem;
    }
  }

  section {
    outline: 1px solid red;
    min-height: 10rem;
  }
}

@media (min-width: 768px) {
  // .home {
  //   &__giveawaySection {
  //     > div {
  //       display: flex;
  //       flex-flow: row nowrap;
  //       justify-content: space-around;
  //       align-items: center;
  //     }
  //     &__img {
  //       width: 40%;
  //       margin: auto;
  //     }

  //     &__info {
  //     }
  //   }
  // }
}

.giveaway {
  width: 100%;
  text-align: center;
  min-height: 350px;
  // margin: 2rem 1rem;
  padding: 3rem 0 0rem 0;
  background-image: url("../public/giveawayImages/whiteMarbleBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  &__imageDiv {
    // width: 50%;
    margin: 1.6rem 4rem 1.6rem 2rem;
  }

  // div:nth-child(1) {
  //   max-width: 100%;
  //   // margin: auto;
  // }
  form {
    margin: 1rem;
    p {
      margin: 0.6rem 0;
    }
  }
}

@media (min-width: 768px) {
  .giveaway {
    &__imageDiv {
      width: 500px;
      flex-flow: row nowrap;
    }
    form {
      width: 500px;
      margin: 0;
    }
  }
}

@media (min-width: 1400px) {
  .giveaway {
    &__imageDiv {
      max-width: 650px;
      margin-bottom: 4rem;
      margin-right: 10rem;
      flex-flow: row nowrap;
    }
    form {
      width: 50%;
      margin: 0;
    }
  }
}

.biltongVsJerky {
  background-image: url("../public/homeImages/woodBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  div {
    padding: 3rem;
    width: 100%;
    // outline: 2px solid red;
    div {
      position: relative;
      width: 100%;
      outline: 1px solid green;
      padding-bottom: 56.25%;
    }
  }
  img {
    width: 100%;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@media (min-width: 768px) {
  .biltongVsJerky {
    flex-flow: row nowrap;
    max-height: 600px;
    div {
      width: 50vw;
      // outline: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        all: unset;
        position: relative;
        width: 560px;
        height: 315px;
      }
    }
    img {
      max-width: 500px;
    }

    iframe {
      all: unset;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 1400px) {
  .biltongVsJerky {
    background: red;
  }
}
