.home {
  &__heroSection {
    height: 95vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    // background-image: url("../public/homeImages/heroSectionBackground.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // display: flex;
    // flex-flow: column wrap;
    // justify-content: center;
    // align-content: center;

    &__logo {
      height: 90%;
      width: 55%;
      max-width: 250px;
      margin: 0 auto;
      position: relative;
    }
  }
}

.shipping {
  display: flex;
  flex-flow: column wrap;
  img {
    width: 60vw;
    max-width: 300px;
    margin: 3rem auto 0 auto;
  }

  div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 5rem auto;
    h2 {
      color: rgb(253, 33, 33);
    }
    p {
    }
  }
}

@media (min-width: 768px) {
  .shipping {
    flex-flow: row wrap;
    justify-content: center;
    img {
      margin: 3rem;
    }
    div {
      margin: 3rem;
    }
  }
}

.onlineStores {
  width: 100%;
  // background: red;

  h2 {
    padding-top: 3rem;
  }
  section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1rem;
  }
  &__logoDiv {
    position: relative;
    width: 40%;
    max-width: 200px;
    height: 100px;
    // padding: 1rem;
    margin: 2rem;
    // outline: 1px solid yellow;
    transition: transform ease-in-out 250ms;

    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform ease-in-out 250ms;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .onlineStores {
    section {
      padding: 2rem;
    }
  }
}
