.button__naver {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;

  &:hover {
  }
}

.button__light {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  // border: none;
  cursor: pointer;
  transition: transform ease-in-out 250ms;

  span {
    margin-left: 1rem;
  }

  &:hover {
    // transform: scale(1.05, 1.05);
    // transition: transform ease-in-out 250ms;
  }
}

.button__dark {
  background: black;
  color: white;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform ease-in-out 250ms;

  span {
    margin-left: 1rem;
    font-size: 1.6rem;
  }

  &:hover {
    transform: scale(1.05, 1.05);
    transition: transform ease-in-out 250ms;
  }
}

.button__lightPrimary {
  background: black;
  color: white;
  border: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  // transition: transform ease-in-out 250ms;
  // margin: 0;

  span {
    margin-left: 1rem;
    font-size: 1.6rem;
  }

  &:hover {
    background: rgb(39, 39, 39);
    // transform: scale(1.05, 1.05);
    // transition: transform ease-in-out 250ms;
  }
}
