.button__naver {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;

  &:hover {
  }
}

.button__light {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  // border: none;
  cursor: pointer;
  transition: transform ease-in-out 250ms;

  span {
    margin-left: 1rem;
  }

  &:hover {
    transform: scale(1.05, 1.05);
    transition: transform ease-in-out 250ms;
  }
}

.button__dark {
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform ease-in-out 250ms;

  span {
    margin-left: 1rem;
  }

  &:hover {
    transform: scale(1.05, 1.05);
    transition: transform ease-in-out 250ms;
  }
}

.button__lightPrimary {
  background: hsl(0, 100%, 30%);
  color: white;
  border: none;
  // width: 5rem;
  // height: 3rem;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform ease-in-out 250ms;
  // margin: 0;

  span {
    margin-left: 1rem;
  }

  &:hover {
    transform: scale(1.05, 1.05);
    transition: transform ease-in-out 250ms;
  }
}
