.inputBox_effect1 {
  position: relative;
  width: 100%;
  min-height: 2.8rem;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0px;
  }

  input,
  textarea,
  input:required {
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid rgb(131, 129, 129);
    background: white;
    color: black;
    // padding: 1rem;
    margin: 0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 1rem;

    &:focus {
      border: 2px solid hsl(202, 70%, 40%);
    }

    &:focus ~ span,
    &:valid ~ span {
      transform: translateY(-1rem) translateX(0.75rem);
      font-size: 1rem;
      color: hsl(202, 70%, 40%);
      background: white;
      padding: 0.2rem 0.5rem;
      // color: black;
    }
  }
  span {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1rem;
    // z-index: 1;
    display: inline-block;
    pointer-events: none;
    transition: 0.5s;
    color: hsl(0, 0%, 60%);
    font-size: 1rem;
    // background: white;
  }
}
// button {
//   // position: absolute;
//   margin: auto;
//   margin-bottom: 2rem;
//   // padding: 1rem;
//   // width: 100%;
//   height: 3rem;
// }
