.instagram {
  h2 {
    margin: 2rem;
  }
  &__errorMessage {
    text-align: center;
    color: red;
    font-size: 18px;
  }
}

.instagramItems {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.instagramItem {
  -webkit-box-flex: 0;
  flex: 0 0 calc(100% / 2);
  // padding: 0.3rem;
  //   margin-bottom: 10px;
  //   padding: 10px;

  display: block;
  position: relative;
}

.instagramItem:nth-child(5) {
  display: none;
}

.instagramImg {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.instagramIcon {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  width: calc(100% - 1rem);
  height: calc(100% - 2rem);
  z-index: 100;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  padding: 2rem;
  opacity: 0;
}
.instagramIcon:hover {
  opacity: 1;
  background-color: #00000061;
}

@media (min-width: 480px) {
  .instagramItem {
    flex: 0 0 calc(100% / 2);
    // margin: 5px;
    // padding: 10px;
    padding: 0;
  }
  .instagramItem:nth-child(5) {
    display: none;
  }
}

@media (min-width: 764px) {
  .instagramItems {
    // padding: 0 0.5rem;
    padding: 0;
  }
  .instagramItem {
    flex: 0 0 calc(100% / 3);
    // margin: 5px;
    // padding: 1rem 0.5rem;
    padding: 0;
  }

  .instagramItem:nth-child(4),
  .instagramItem:nth-child(5) {
    display: none;
  }
}

@media (min-width: 1279px) {
  .instagramItems {
    padding: 0;
  }
  .instagramItem {
    flex: 0 0 calc(100% / 5);
    // margin: 5px;
    // padding: 1rem 0.5rem;
    padding: 0;
  }

  .instagramItem:nth-child(4),
  .instagramItem:nth-child(5) {
    display: block;
  }
}
