.modal {
  display: none;
  z-index: 1;
  background: rgba(100, 100, 100, 0.308);
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  div {
    background: white;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
    // border-radius: 50px;
  }

  &:focus {
    outline: none;
  }

  img {
    max-width: 100px;
    margin: 2rem;
  }

  strong {
    font-size: 1.6rem;
  }

  p {
    max-width: 450px;
    margin: 0.5rem;
  }

  button {
    margin: 1rem auto;
    width: 150px;
    // background: green;
  }
}

@media (min-width: 768px) {
  .modal {
  }
}
