.ProductCard {
  // max-width: 0%;

  &__title {
    margin-bottom: 1rem;
  }

  section {
    // margin: 1rem;
    padding: 1rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    font-style: italic;
    margin-bottom: 2rem;
  }

  &__priceOnline {
    // text-decoration: line-through;
    // font-size: 0.8rem;
    // margin: 0;
    text-align: right;
    color: grey;
    display: inline-block;
    margin-right: 1rem;
  }

  &__pricePromotion {
    // color: red;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    margin: 0.5rem 0;
  }

  &__links {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    // border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 0;
    label {
      margin: 0 1rem 0 0;
    }

    img {
      border-radius: 10px;
      height: 2.5rem;
      cursor: pointer;
      margin-right: 1rem;
      transition: transform ease-in-out 250ms;

      &:hover {
        transform: scale(1.1, 1.1);
        transition: transform ease-in-out 250ms;
      }
    }

    img:nth-child(2) {
      border: 1px solid rgba(73, 73, 73, 0.5);
    }

    p {
      margin: 1rem;
    }
  }
}
