.header {
  background: rgba(255, 255, 255, 1);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;

  filter: drop-shadow(0px 0px 5px var(--clr-darkGray));
}

.logo {
  margin: 1.5rem;
  padding: 0;
  max-height: 2rem;
  max-width: 50%;
  cursor: pointer;
}

.nav {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  text-align: left;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  border-bottom: 1px solid var(--clr-darkGray);
  border-top: 1px solid var(--clr-darkGray);
}

.nav lu {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  margin: 2em;
}

.nav label {
  color: var(--clr-darkGray);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav_toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav_toggle {
  display: none;
}

.nav_toggle_label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2em;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_toggle_label span,
.nav_toggle_label span::before,
.nav_toggle_label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav_toggle_label span::before,
.nav_toggle_label span::after {
  content: "";
  position: absolute;
}

.nav_toggle_label span::before {
  bottom: 8px;
}

.nav_toggle_label span::after {
  top: 8px;
}

.nav_toggle:checked ~ nav label {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1000px) {
  .nav_toggle_label {
    display: none;
  }

  .header {
    background: rgba(255, 255, 255, 1);
    z-index: 999;
    display: flex;
    /* background: none; */
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    filter: drop-shadow(0px 0px 5px var(--clr-darkGray));
  }

  .nav {
    all: unset;
    height: 100%;
  }

  .logo {
    transition: transform ease-in-out 150ms;
  }
  .logo:hover {
    transform: scale(1.025, 1.025);
    transition: transform ease-in-out 150ms;
  }

  .nav ul {
    display: flex;
    justify-content: flex-end;
  }

  .nav li {
    margin: 0.5em 1.5em;
  }

  .nav label {
    cursor: pointer;
    opacity: 1;
    position: relative;
  }

  .nav label::after {
    content: "";
    display: block;
    height: 5px;
    background: var(--clr-darkGray);
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    /* transform-origin: left; */
    transition: transform ease-in-out 250ms;
  }

  .nav label:hover::after {
    transform: scale(1, 1);
  }
}
