@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --view_phones: 480px;
  --view_tablets: 768px;
  --view_laptops: 1279px;
  --view_desktop: 1280px;
}

html,
body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button__naver {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.button__light {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.button__light span {
  margin-left: 1rem;
}

.button__light:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.button__dark {
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.button__dark span {
  margin-left: 1rem;
}

.button__dark:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.button__lightPrimary {
  background: black;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.button__lightPrimary span {
  margin-left: 1rem;
}

.button__lightPrimary:hover {
  background: #272727;
}

:root {
  --clr-light-text: white;
  --clr-medium-text: rgb(87, 87, 87);
  --clr-dark-text: black;
  --clr-light-bg: #ebebeb;
  --clr-dark-bg: #1c1c1e;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40pt;
  font-weight: 100;
  margin: 2rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 300;
}

textArea {
  background: white;
  border-radius: 0.2rem;
  border: none;
  color: black;
  padding: 1rem 1.6rem;
  display: inline;
  font-size: 1rem;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 650px;
  margin: auto;
}

input {
  margin: 0.5rem 1rem;
  background: white;
  border-radius: 0.2rem;
  border: none;
  color: black;
  padding: 1rem 1.6rem;
  display: inline;
  font-size: 1rem;
}

textArea {
  margin: 0.5rem 1rem;
  height: 15rem;
}

.inputBox_effect1 {
  position: relative;
  width: 100%;
  min-height: 2.8rem;
  margin-bottom: 1.5rem;
}

.inputBox_effect1:last-child {
  margin-bottom: 0px;
}

.inputBox_effect1 input,
.inputBox_effect1 textarea,
.inputBox_effect1 input:required {
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #838181;
  background: white;
  color: black;
  margin: 0;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-size: 1rem;
}

.inputBox_effect1 input:focus,
.inputBox_effect1 textarea:focus,
.inputBox_effect1 input:required:focus {
  border: 2px solid #1f79ad;
}

.inputBox_effect1 input:focus ~ span,
.inputBox_effect1 input:valid ~ span,
.inputBox_effect1 textarea:focus ~ span,
.inputBox_effect1 textarea:valid ~ span,
.inputBox_effect1 input:required:focus ~ span,
.inputBox_effect1 input:required:valid ~ span {
  -webkit-transform: translateY(-1rem) translateX(0.75rem);
          transform: translateY(-1rem) translateX(0.75rem);
  font-size: 1rem;
  color: #1f79ad;
  background: white;
  padding: 0.2rem 0.5rem;
}

.inputBox_effect1 span {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 1rem;
  display: inline-block;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #999999;
  font-size: 1rem;
}

.footerSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerSection__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.footerSection__wrapper div {
  margin: 1em 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footerSection__wrapper div p,
.footerSection__wrapper div strong {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 1rem;
}

.socialCard {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 150ms;
  transition: -webkit-transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
}

.socialCard label {
  cursor: pointer;
  font-size: 0.8rem;
}

.socialCard:hover {
  /* background: red; */
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 150ms;
  transition: -webkit-transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
}

.socialCard img {
  height: 2em;
  margin-right: 0.5em;
}

.copyrightNotice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  margin: 1em 0;
}

@media (min-width: 1440px) {
  .footerSection__wrapper {
    width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    margin-top: auto;
  }
}

.header {
  background: white;
  height: 55px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 999;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  margin: 0.8rem 2.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.header nav {
  position: absolute;
  background: white;
  width: 100%;
  text-align: right;
  top: 100%;
  right: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.header nav lu {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header nav li {
  list-style: none;
  margin: 2em;
  cursor: pointer;
}

.header nav label {
  color: var(--clr-dark-text);
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  cursor: pointer;
}

.header__navToggleInput {
  display: none;
}

.header__navToggleInput:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__navToggleInput:checked ~ nav label {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

.header__navToggleLabel {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navToggleLabel span,
.header__navToggleLabel span::before,
.header__navToggleLabel span::after {
  display: block;
  background: var(--clr-dark-text);
  height: 0.12rem;
  width: 1.6em;
  border-radius: 2px;
  position: relative;
}

.header__navToggleLabel span::before,
.header__navToggleLabel span::after {
  content: "";
  position: absolute;
}

.header__navToggleLabel span::before {
  bottom: 0.5rem;
}

.header__navToggleLabel span::after {
  top: 0.5rem;
}

.header__login {
  background: #8a0000;
  color: white;
  border-radius: 10rem;
  padding: 0.65em 1.2em;
  cursor: pointer;
  display: inline-block;
  margin: 1rem 2rem 3rem;
}

.header__login:hover {
  background: #b30000;
}

@media screen and (min-width: 1100px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75px;
    background: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  .header__navToggleLabel {
    display: none;
  }
  .header img {
    max-height: 4rem;
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
  }
  .header img:hover {
    -webkit-transform: scale(1.025, 1.025);
            transform: scale(1.025, 1.025);
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
  }
  .header nav {
    all: unset;
  }
  .header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header nav li {
    font-size: 1rem;
    margin: 0.5em 1.5em;
  }
  .header nav label {
    opacity: 1;
    position: relative;
  }
  .header nav label::after {
    content: "";
    display: block;
    height: 5px;
    background: var(--clr-dark-text);
    position: absolute;
    bottom: -0.5em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  .header nav label:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .header__login {
    margin: 0rem;
  }
}

.ProductCard__title {
  margin-bottom: 1rem;
}

.ProductCard section {
  padding: 1rem;
}

.ProductCard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ProductCard__description {
  font-style: italic;
  margin-bottom: 2rem;
}

.ProductCard__priceOnline {
  text-align: right;
  color: grey;
  display: inline-block;
  margin-right: 1rem;
}

.ProductCard__pricePromotion {
  font-weight: bold;
  display: inline-block;
  text-align: right;
  margin: 0.5rem 0;
}

.ProductCard__links {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 0.5rem 0;
}

.ProductCard__links label {
  margin: 0 1rem 0 0;
}

.ProductCard__links img {
  border-radius: 10px;
  height: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.ProductCard__links img:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.ProductCard__links img:nth-child(2) {
  border: 1px solid rgba(73, 73, 73, 0.5);
}

.ProductCard__links p {
  margin: 1rem;
}

.GiftsetCard {
  margin: auto;
  margin-bottom: 3rem;
  max-width: 400px;
  padding: 1rem;
  background: white;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.GiftsetCard section {
  padding: 1rem;
}

.GiftsetCard__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.GiftsetCard__description {
  font-style: italic;
  margin-bottom: 1.6rem;
}

.GiftsetCard__inventory {
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
}

.GiftsetCard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.GiftsetCard button {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .GiftsetCard {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .GiftsetCard section {
    width: 60%;
    margin-left: 1.6rem;
  }
}

.modal {
  display: none;
  z-index: 1;
  background: rgba(100, 100, 100, 0.308);
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal div {
  background: white;
  padding: 1rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.modal:focus {
  outline: none;
}

.modal img {
  max-width: 100px;
  margin: 2rem;
}

.modal strong {
  font-size: 1.6rem;
}

.modal p {
  max-width: 450px;
  margin: 0.5rem;
}

.modal button {
  margin: 1rem auto;
  width: 150px;
}

.firebaseAuth {
  margin: 2rem;
  height: 100%;
}

.home__heroSection {
  height: 95vh;
  background-image: url("../public/homeImages/heroSectionBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home__heroSection img {
  max-height: 30%;
  margin: 0 1rem 10rem 1rem;
}

.giveaway {
  width: 100%;
  text-align: center;
  padding: 3rem 0 0rem 0;
  background-image: url("../public/giveawayImages/whiteMarbleBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.giveaway__imageDiv {
  margin: 1.6rem 4rem 1.6rem 2rem;
}

.giveaway form {
  margin: 1rem;
}

.giveaway form p {
  margin: 0.6rem 0;
}

.giveaway form button {
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .giveaway__imageDiv {
    min-width: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .giveaway form {
    width: 500px;
    margin: 0;
  }
  .giveaway form button {
    width: 200px;
    margin: auto;
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .giveaway {
    min-height: 800px;
  }
  .giveaway__imageDiv {
    max-width: 650px;
    margin-bottom: 4rem;
    margin-right: 10rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .giveaway form {
    margin: 0;
  }
  .giveaway form p {
    margin: 1rem;
  }
  .giveaway form button {
    margin: auto;
  }
}

.biltongVsJerky {
  background-image: url("../public/homeImages/woodBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.biltongVsJerky div {
  padding: 1rem;
  width: 100%;
}

.biltongVsJerky div div {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.biltongVsJerky img {
  width: 100%;
}

.biltongVsJerky iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .biltongVsJerky {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    max-height: 600px;
  }
  .biltongVsJerky div {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .biltongVsJerky div div {
    all: unset;
    position: relative;
    width: 560px;
    height: 315px;
  }
  .biltongVsJerky img {
    max-width: 500px;
    margin: 3rem;
  }
  .biltongVsJerky iframe {
    all: unset;
    width: 100%;
    height: 100%;
  }
}

.shipping {
  background: #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.shipping img {
  width: 60vw;
  max-width: 300px;
  margin: 3rem auto 0 auto;
}

.shipping div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto 5rem auto;
}

.shipping div h2 {
  color: #fd2121;
}

@media (min-width: 768px) {
  .shipping {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shipping img {
    margin: 3rem;
  }
  .shipping div {
    margin: 3rem;
  }
}

.giftsets {
  width: 100%;
  background: var(--clr-light-bg);
}

.giftsets__header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: 0 1rem;
}

.giftsets__section {
  margin: 1rem;
}

.giftsets__company__logos {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.giftsets__company__logos img {
  margin: auto;
  max-width: 30%;
}

.giftsets__company__logos span {
  font-size: 3rem;
  font-weight: bold;
  color: var(--clr-medium-text);
  margin: 1.2rem;
}

.giftsets__company__description {
  margin-bottom: 2rem;
}

@media (min-width: 480px) {
  .giftsets__header {
    max-width: 450px;
    margin: auto;
  }
  .giftsets__section {
    max-width: 450px;
    margin: auto;
  }
  .giftsets__company__logos {
    max-width: 450px;
    margin: 1rem auto;
  }
}

@media (min-width: 768px) {
  .giftsets__header {
    max-width: 768px;
  }
  .giftsets__company {
    max-width: 1000px;
    margin: auto;
  }
  .giftsets__section {
    margin: 1rem;
    max-width: 1280px;
  }
}

@media (min-width: 1280px) {
  .giftsets__section {
    margin: 1rem auto;
    width: 1600px;
  }
}

.biltong__heroSection {
  height: 65vh;
  background-image: url("../public/biltong/307A0480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.biltong__heroSection img {
  max-height: 30%;
  margin: 0 1rem 10rem 1rem;
}

.biltong__title {
  margin: 1rem;
  margin-top: 3rem;
  text-align: center;
}

.biltong__description {
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 500px;
}

.biltong__cards {
  margin: auto;
}

.biltong__card {
  width: 100vw;
  max-width: 500px;
  background: white;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

@media (min-width: 500px) {
  .biltong__card {
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .biltong__heroSection {
    display: none;
  }
  .biltong__description {
    max-width: 70%;
  }
  .biltong__cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1279px) {
  .biltong__description {
    max-width: 800px;
  }
  .biltong__cards {
    max-width: 1600;
  }
  .biltong__card {
    margin: 1rem;
  }
}

.merch__heroSection {
  height: 65vh;
  background-image: url("../public/biltong/307A0480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.merch__heroSection img {
  max-height: 30%;
  margin: 0 1rem 10rem 1rem;
}

.merch__title {
  margin: 1rem;
  margin-top: 3rem;
  text-align: center;
}

.merch__description {
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 500px;
}

.merch__cards {
  margin: auto;
}

.merch__card {
  margin-bottom: 3rem;
  width: 100vw;
  max-width: 500px;
  background: white;
}

@media (min-width: 768px) {
  .merch__cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .merch__card {
    max-width: 350px;
  }
}

@media (min-width: 1279px) {
  .merch__cards {
    width: 1200px;
  }
  .merch__card {
    max-width: 400px;
  }
}

.about {
  background: var(--clr-light-bg);
  width: 100%;
}

.about__splash {
  height: 65vh;
  width: 100%;
  background-image: url("../public/aboutImages/Cape-Town-Table-Mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__splash h1 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.about section {
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about section div {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about section h2 {
  margin-top: 1.6rem;
}

.about section p {
  line-height: 2rem;
  margin: 2rem 1rem;
  max-width: 850px;
}

.about__bil-po div:nth-child(2) {
  min-height: 350px;
  margin: auto;
  background-image: url("../public/aboutImages/307A0318.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__history div:nth-child(2) {
  height: 350px;
  margin: auto;
  background-image: url("../public/aboutImages/about biltong 4 (1800px).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.about__VsJerky div:nth-child(2) {
  height: 350px;
  margin: auto;
  background-image: url("../public/aboutImages/20210314_145454.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.about__owners div:nth-child(2) {
  height: 350px;
  margin: auto;
  background-image: url("../public/aboutImages/about biltong 3 (1800px).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.about__imageDiv {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .about__imageDiv {
    max-width: 850px;
  }
}

@media screen and (min-width: 1600px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about section {
    margin: 0 auto;
    padding: 1rem;
  }
  .about__imageDiv {
    width: 100%;
    margin: 0;
  }
}

.contact {
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__info__headerLine {
  background: var(--clr-dark-text);
  height: 0.1rem;
  width: 3rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.contact__info h2 {
  color: var(--clr-dark-text);
  margin: 1rem;
}

.contact__info p {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

.contact form {
  padding: 1rem;
  width: 100%;
}

.contact form input {
  width: 100%;
}

@media (min-width: 768px) {
  form button {
    width: 200px;
    margin: auto;
  }
}

@media (min-width: 1279px) {
  .contactSection_wrapper {
    width: 100%;
  }
  .contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: var(--view_desktop);
    margin: auto;
  }
  .contactSection_info h2 {
    margin-top: 10rem;
    text-align: left;
  }
  .contactSection_info p {
    text-align: left;
    margin: 1rem;
    padding: 0;
  }
  .contactSection_social {
    text-align: left;
    margin: 1rem;
    margin-top: 3rem;
  }
  .contactSection_social img {
    cursor: pointer;
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
    margin: 1rem 1.6rem 1rem 0;
  }
  .contactSection_social img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
  }
  .contactSection form {
    width: 100%;
    margin: auto;
    margin-top: 10rem;
  }
  .contactSection form > button {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.backorder {
  min-height: 100vh;
  width: 100vw;
}

.backorder__logo {
  margin: 2rem auto;
  width: 150px;
}

.backorder__title {
  color: black;
  margin: 0 auto;
  max-width: 400px;
}

.backorder__description {
  color: black;
  margin: auto;
  max-width: 400px;
  padding: 0.5rem 2.8rem;
  text-align: center;
}

.backorder__form {
  position: relative;
  padding: 1rem 2.8rem;
  width: 100%;
  margin: 2rem auto;
}

.backorder__form textarea {
  height: 10rem;
}

.backorder__copyrightNotice {
  color: black;
}

.backorderHistory {
  width: 100vw;
  min-height: 100vh;
}

.backorderHistory h1 {
  text-align: center;
  margin: 1rem auto;
  margin-top: 4rem;
}

.backorderHistory button {
  margin: 0;
  padding: 0.7rem;
  position: fixed;
  background: lightgrey;
}

.backorderHistory button:nth-child(1) {
  left: 0;
  width: 80%;
}

.backorderHistory button:nth-child(2) {
  right: 0;
  width: 20%;
}

.backorderHistory__list {
  width: 100%;
}

.backorderItem {
  width: 100%;
  border-top: 1px solid black;
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backorderItem div {
  width: 50%;
}

.spiceCalc {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#485563), to(#29323c));
  background: linear-gradient(to right, #485563, #29323c);
}

.spiceCalc__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.spiceCalc__header img {
  margin: 3rem auto;
  width: 150px;
}

.spiceCalc__header p {
  font-size: 20pt;
  font-style: "trajan";
  margin: 0.5rem 1rem;
}

.spiceCalc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
}

.spiceCalc__form input {
  text-align: center;
  width: 50pt;
  font-size: 1rem;
  color: black;
  margin: 0 5pt 0 10pt;
  padding: 0.5rem;
}

.spiceCalc__outputArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25pt 10pt;
  text-align: center;
  height: 100%;
}

.spiceCalc__outputArea__spiceItem {
  margin: 10pt 30pt;
}

.spiceCalc__outputArea__spiceItem__item {
  font-size: 12pt;
  margin: 0 0px 0 0;
}

.spiceCalc__outputArea__spiceItem__qty {
  font-size: 30pt;
  margin: 0 6px 0 0;
}

.spiceCalc__outputArea__spiceItem__unit {
  font-size: 12pt;
  margin: 0;
}

.spiceCalc__est {
  margin: 1rem;
}

.spiceCalc__est li {
  list-style-type: none;
  margin: 0.5rem 3rem;
}

.spiceCalc__copyrightNotice {
  margin-top: auto;
  font-size: 10pt;
  font-style: italic;
  text-align: center;
}

.rfq__dashboardButton {
  position: -webkit-sticky;
  position: sticky;
  left: 1rem;
  top: 1rem;
  z-index: 1;
  margin: 0;
  width: 120px;
  padding: 0.6rem;
}

.rfq header {
  text-align: left;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rfq header img {
  width: 150px;
  margin: 1rem;
}

.rfq header h1 {
  text-align: center;
}

.rfq header p {
  text-align: center;
}

.rfq__underMinQty {
  color: red;
  font-weight: bold;
}

.rfq__overMinQty {
  color: green;
}

.rfq__costPerBag {
  color: #a7a7a7;
  font-style: italic;
}

.rfq__BagsWholesale section {
  width: 100%;
}

.rfq__BagsWholesale img {
  width: 100%;
  margin-top: 2rem;
}

.rfq__BagsWholesale--title {
  margin: 1rem;
  text-align: left;
}

.rfq__BagsWholesale--description {
  margin: 1rem;
}

.rfq__BagsWholesale--retail {
  background: #cccccc;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.rfq__BagsWholesale--wholesale {
  padding: 1rem;
}

.rfq__BagsWholesale--wholesale p {
  text-align: right;
}

.rfq__BagsWholesale--wholesale label {
  margin-left: 2rem;
}

.rfq__orderSummary {
  border-top: 4px dashed black;
  margin-top: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

.rfq__orderSummary p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rfq__orderSummary label {
  text-align: center;
}

.rfq__orderSummary button {
  margin: 2rem auto;
  width: 100%;
}

.rfq__orderSummary--total {
  font-size: 1.2rem;
  font-weight: bold;
}

.rfq__orderSummary h3 {
  margin: 1rem 0;
}

.rfq__orderSummary--headings {
  border-bottom: 1px solid black;
}

.rfq__deliveryDetails {
  padding: 1rem;
  background: lightgray;
  margin: 3rem 0 1rem 0;
}

.authPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#485563), to(#29323c));
  background: linear-gradient(to right, #485563, #29323c);
  text-align: center;
}

.authPage__wrapper {
  margin: auto;
}

.authPage__errorMessage {
  color: white;
}

.authPage h2 {
  margin-bottom: 2rem;
}

.authPage img {
  width: 150px;
  margin: 3rem auto;
}

.authPage a {
  color: white;
}

.authPage p {
  max-width: 650px;
  margin: 1rem;
}

.authPage button {
  margin: 1rem;
}

.authPage__confirmButton {
  background: darkred;
  color: white;
  margin-bottom: 10rem;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  min-height: 100vh;
  width: 100vw;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#485563), to(#29323c));
  background: linear-gradient(to right, #485563, #29323c);
  text-align: center;
}

.dashboard__backToWebsiteButton {
  margin: 1rem;
  border-radius: 6px;
  font-size: 1rem;
}

.dashboard__signOutButton {
  margin: 1rem;
  border-radius: 6px;
  font-size: 1rem;
}

.dashboard__tools {
  width: 100%;
  border-radius: 1rem;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dashboard__tools p {
  margin: 1rem;
  padding: 0.25em;
  background: white;
  color: black;
  list-style: none;
  cursor: pointer;
}

.dashboard__tools p:hover {
  background: #dedede;
}

.dashboard__tools__tool {
  border: 3px solid white;
  padding: 1rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  border-radius: 25px;
}

.dashboard__tools__tool label {
  margin-top: 0.75rem;
  font-weight: bold;
}

.dashboard__tools__tool:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.185);
}

.dashboard__tools__backorder {
  margin: 1rem;
  margin-top: 3rem;
  border: 1px solid white;
  padding: 1rem;
}

.dashboard__tools__backorder div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard__tools__backorder div p {
  width: 50%;
}

.accountIcon {
  max-width: 50px;
}

.dashboardToolIcon {
  max-width: 80px;
}

@media (min-width: 768px) {
  .dashboard__tools {
    max-width: 600px;
  }
}

.account {
  width: 100%;
}

.account__resetButton {
  margin: 1rem;
  border-radius: 6px;
  font-size: 1rem;
}

.account__dashboardButton {
  margin: 1rem;
  border-radius: 6px;
  font-size: 1rem;
}

.profileItem {
  text-align: left;
  margin: 1rem;
}

.profileItem form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profileItem form label {
  margin: 0.5rem 1rem 0.5rem 0;
  color: white;
  width: 100%;
}

.profileItem form input {
  color: black;
  margin: 0;
  font-weight: 100;
  width: 80%;
}

.profileItem form button {
  width: 20%;
  padding: 1.2em 0.6em;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */