@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --view_phones: 480px;
  --view_tablets: 768px;
  --view_laptops: 1279px;
  --view_desktop: 1280px;
}

html,
body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button__naver {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.button__light {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.button__light span {
  margin-left: 1rem;
}

.button__light:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.button__dark {
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.button__dark span {
  margin-left: 1rem;
}

.button__dark:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.button__lightPrimary {
  background: #990000;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  margin: 0;
}

.button__lightPrimary span {
  margin-left: 1rem;
}

.button__lightPrimary:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

:root {
  --clr-light-text: white;
  --clr-medium-text: rgb(87, 87, 87);
  --clr-dark-text: black;
  --clr-light-bg: #ebebeb;
  --clr-dark-bg: #1c1c1e;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40pt;
  font-weight: 100;
  margin: 2rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 300;
}

textArea {
  background: white;
  border-radius: 0.2rem;
  border: none;
  color: black;
  padding: 1rem 1.6rem;
  display: inline;
  font-size: 1rem;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 650px;
  margin: auto;
}

input {
  margin: 0.5rem 1rem;
  background: white;
  border-radius: 0.2rem;
  border: none;
  color: black;
  padding: 1rem 1.6rem;
  display: inline;
  font-size: 1rem;
}

textArea {
  margin: 0.5rem 1rem;
  height: 15rem;
}

button {
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}

.inputBox_effect1 {
  position: relative;
  width: 100%;
  min-height: 2.8rem;
  margin-bottom: 1.5rem;
}

.inputBox_effect1:last-child {
  margin-bottom: 0px;
}

.inputBox_effect1 input,
.inputBox_effect1 textarea {
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #838181;
  background: white;
  margin: 0;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-size: 1rem;
}

.inputBox_effect1 input:focus,
.inputBox_effect1 textarea:focus {
  border: 2px solid #1f79ad;
}

.inputBox_effect1 input:focus ~ span,
.inputBox_effect1 input:valid ~ span,
.inputBox_effect1 textarea:focus ~ span,
.inputBox_effect1 textarea:valid ~ span {
  -webkit-transform: translateY(-1rem) translateX(0.75rem);
          transform: translateY(-1rem) translateX(0.75rem);
  font-size: 1rem;
  color: #1f79ad;
  background: white;
  padding: 0.2rem 0.5rem;
}

.inputBox_effect1 span {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 1rem;
  display: inline-block;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #999999;
  font-size: 1rem;
}

button {
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  height: 3rem;
}

.footerSection {
  width: 100%;
  border-top: 1px solid darkgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerSection__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.footerSection__wrapper div {
  margin: 1em 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footerSection__wrapper div p,
.footerSection__wrapper div strong {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 1rem;
}

.socialCard {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 150ms;
  transition: -webkit-transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
}

.socialCard label {
  cursor: pointer;
  font-size: 0.8rem;
}

.socialCard:hover {
  /* background: red; */
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 150ms;
  transition: -webkit-transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
}

.socialCard img {
  height: 2em;
  margin-right: 0.5em;
}

.copyrightNotice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  margin: 1em 0;
}

@media (min-width: 1440px) {
  .footerSection__wrapper {
    width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }
}

.header {
  background: white;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  -webkit-filter: drop-shadow(0px 0px 5px grey);
          filter: drop-shadow(0px 0px 5px grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  margin: 0.8rem 2.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.header nav {
  position: absolute;
  background: white;
  width: 100%;
  text-align: right;
  top: 100%;
  right: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.header nav lu {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header nav li {
  list-style: none;
  margin: 2em;
}

.header nav label {
  color: var(--clr-dark-text);
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.header__navToggleInput {
  display: none;
}

.header__navToggleInput:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__navToggleInput:checked ~ nav label {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

.header__navToggleLabel {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navToggleLabel span,
.header__navToggleLabel span::before,
.header__navToggleLabel span::after {
  display: block;
  background: var(--clr-dark-text);
  height: 0.12rem;
  width: 1.6em;
  border-radius: 2px;
  position: relative;
}

.header__navToggleLabel span::before,
.header__navToggleLabel span::after {
  content: "";
  position: absolute;
}

.header__navToggleLabel span::before {
  bottom: 0.5rem;
}

.header__navToggleLabel span::after {
  top: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  .header__navToggleLabel {
    display: none;
  }
  .header img {
    max-height: 4rem;
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
  }
  .header img:hover {
    -webkit-transform: scale(1.025, 1.025);
            transform: scale(1.025, 1.025);
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
  }
  .header nav {
    all: unset;
  }
  .header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header nav li {
    font-size: 1rem;
    margin: 0.5em 1.5em;
  }
  .header nav label {
    opacity: 1;
    position: relative;
  }
  .header nav label::after {
    content: "";
    display: block;
    height: 5px;
    background: var(--clr-dark-text);
    position: absolute;
    bottom: -0.5em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  .header nav label:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.ProductCard__title {
  margin-bottom: 1rem;
}

.ProductCard section {
  padding: 1rem;
}

.ProductCard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ProductCard__description {
  font-style: italic;
  margin-bottom: 2rem;
}

.ProductCard__price {
  color: grey;
  text-decoration: line-through;
  font-size: 0.8rem;
  text-align: right;
  display: inline-block;
}

.ProductCard__sale {
  display: inline-block;
  text-align: right;
  margin: 0.5rem 1rem 0.5rem 0;
}

.ProductCard__links {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProductCard__links img {
  border-radius: 10px;
  height: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.ProductCard__links img:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.ProductCard__links img:nth-child(2) {
  border: 1px solid rgba(73, 73, 73, 0.5);
}

.ProductCard__links p {
  margin: 1rem;
}

.GiftsetCard {
  margin: auto;
  margin-bottom: 3rem;
  max-width: 400px;
  padding: 1rem;
  background: white;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.GiftsetCard section {
  padding: 1rem;
}

.GiftsetCard__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.GiftsetCard__description {
  font-style: italic;
  margin-bottom: 1.6rem;
}

.GiftsetCard__inventory {
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
}

.GiftsetCard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.GiftsetCard button {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .GiftsetCard {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-transition: -webkit-transform ease-in-out 250ms, -webkit-filter ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms, -webkit-filter ease-in-out 250ms;
    transition: transform ease-in-out 250ms, filter ease-in-out 250ms;
    transition: transform ease-in-out 250ms, filter ease-in-out 250ms, -webkit-transform ease-in-out 250ms, -webkit-filter ease-in-out 250ms;
  }
  .GiftsetCard:hover {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
    -webkit-transition: -webkit-transform ease-in-out 250ms, -webkit-filter ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms, -webkit-filter ease-in-out 250ms;
    transition: transform ease-in-out 250ms, filter ease-in-out 250ms;
    transition: transform ease-in-out 250ms, filter ease-in-out 250ms, -webkit-transform ease-in-out 250ms, -webkit-filter ease-in-out 250ms;
  }
  .GiftsetCard section {
    width: 60%;
    margin-left: 1.6rem;
  }
}

.modal {
  background: white;
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal:focus {
  outline: none;
}

.modal img {
  max-width: 100px;
  margin: 2rem;
}

.modal p {
  max-width: 450px;
}

.modal button {
  margin: 1rem auto;
  width: 150px;
}

.home section {
  outline: 1px solid red;
  min-height: 10rem;
}

.home__giveawaySection {
  background: var(--clr-light-bg);
  width: 100%;
  text-align: center;
}

.home__giveawaySection > div {
  margin: 1rem;
}

.home__giveawaySection__img {
  max-width: 480px;
  margin: 3rem auto 2rem auto;
}

@media (min-width: 768px) {
  .home__giveawaySection > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__giveawaySection__img {
    width: 40%;
    margin: auto;
  }
  .home__giveawaySection__info {
    width: 40%;
    margin: auto;
  }
}

.giftsets {
  width: 100%;
  background: var(--clr-light-bg);
}

.giftsets__header {
  padding-top: 7rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: 0 1rem;
}

.giftsets__section {
  margin: 1rem;
}

.giftsets__company__logos {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.giftsets__company__logos img {
  margin: auto;
  max-width: 30%;
}

.giftsets__company__logos span {
  font-size: 3rem;
  font-weight: bold;
  color: var(--clr-medium-text);
  margin: 1.2rem;
}

.giftsets__company__description {
  margin-bottom: 2rem;
}

@media (min-width: 480px) {
  .giftsets__header {
    max-width: 450px;
    margin: auto;
  }
  .giftsets__section {
    max-width: 450px;
    margin: auto;
  }
  .giftsets__company__logos {
    max-width: 450px;
    margin: 1rem auto;
  }
}

@media (min-width: 768px) {
  .giftsets__header {
    max-width: 768px;
  }
  .giftsets__company {
    max-width: 1000px;
    margin: auto;
  }
  .giftsets__section {
    margin: 1rem;
    max-width: 1280px;
  }
}

@media (min-width: 1280px) {
  .giftsets__section {
    margin: 1rem auto;
    width: 1600px;
  }
}

.biltong {
  background: var(--clr-light-bg);
}

.biltong__title {
  margin: 1rem;
  margin-top: 7rem;
  text-align: center;
}

.biltong__description {
  text-align: center;
  margin-bottom: 3rem;
}

.biltong__cards {
  margin: auto;
  margin-bottom: 5rem;
}

.biltong__card {
  margin: 1rem;
  max-width: 400px;
  background: white;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

@media (min-width: 768px) {
  .biltong__cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .biltong__card {
    max-width: 350px;
  }
}

@media (min-width: 1279px) {
  .biltong__cards {
    width: 1280px;
  }
  .biltong__card {
    max-width: 380px;
  }
}

.merch {
  background: var(--clr-light-bg);
}

.merch__title {
  margin: 1rem;
  margin-top: 7rem;
  text-align: center;
}

.merch__description {
  text-align: center;
  margin-bottom: 3rem;
}

.merch__cards {
  margin: auto;
  margin-bottom: 5rem;
}

.merch__card {
  margin: 1rem;
  max-width: 400px;
  background: white;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

@media (min-width: 768px) {
  .merch__cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .merch__card {
    max-width: 350px;
  }
}

@media (min-width: 1279px) {
  .merch__cards {
    width: 1200px;
  }
  .merch__card {
    max-width: 400px;
  }
}

.about {
  background: var(--clr-light-bg);
}

.about__splash {
  height: 450px;
  background-image: url("../public/aboutImages/Cape-Town-Table-Mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__splash h1 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.about__info h2 {
  margin-top: 2rem;
  line-height: 4rem;
}

.about__info p {
  line-height: 2rem;
  margin: 2rem 1rem;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  /* background: green; */
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section h2 {
  margin-top: 2em;
}

.section p {
  margin: 1.25em 1em;
}

.section br {
  margin: 1em;
}

.section img {
  margin-top: 1em;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .aboutSplash_Section {
    height: 640px;
  }
}

.contact {
  background: var(--clr-light-bg);
  width: 100%;
}

.contact__info__headerLine {
  background: var(--clr-dark-text);
  height: 0.1rem;
  width: 3rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.contact__info h2 {
  color: var(--clr-dark-text);
  margin: 1rem;
}

.contact__info p {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

@media (min-width: 1279px) {
  .contactSection_wrapper {
    width: 100%;
  }
  .contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: var(--view_desktop);
    margin: auto;
  }
  .contactSection_info h2 {
    margin-top: 10rem;
    text-align: left;
  }
  .contactSection_info p {
    text-align: left;
    margin: 1rem;
    padding: 0;
  }
  .contactSection_social {
    text-align: left;
    margin: 1rem;
    margin-top: 3rem;
  }
  .contactSection_social img {
    cursor: pointer;
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
    margin: 1rem 1.6rem 1rem 0;
  }
  .contactSection_social img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition: -webkit-transform ease-in-out 150ms;
    transition: -webkit-transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms;
    transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
  }
  .contactSection form {
    width: 100%;
    margin: auto;
    margin-top: 10rem;
  }
  .contactSection form > button {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.backorder {
  min-height: 100vh;
  width: 100vw;
}

.backorder__logo {
  margin: 2rem auto;
  width: 150px;
}

.backorder__title {
  color: black;
  margin: 0 auto;
  max-width: 400px;
}

.backorder__description {
  color: black;
  margin: auto;
  max-width: 400px;
  padding: 0.5rem 2.8rem;
  text-align: center;
}

.backorder__form {
  position: relative;
  padding: 1rem 2.8rem;
  width: 100%;
  margin: 2rem auto;
}

.backorder__form textarea {
  height: 10rem;
}

.backorder__copyrightNotice {
  color: black;
}

.backorderHistory {
  width: 100vw;
  min-height: 100vh;
}

.backorderHistory h1 {
  margin: 1rem auto;
  margin-top: 4rem;
}

.backorderHistory button {
  margin: 0;
  background: lightgrey;
  position: fixed;
}

.backorderHistory__list {
  width: 100%;
}

.backorderItem {
  width: 100%;
  border-top: 1px solid black;
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backorderItem div {
  width: 50%;
}

.spiceCalc {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#485563), to(#29323c));
  background: linear-gradient(to right, #485563, #29323c);
}

.spiceCalc__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.spiceCalc__header img {
  margin: 3rem auto;
  width: 150px;
}

.spiceCalc__header p {
  font-size: 20pt;
  font-style: "trajan";
  margin: 0.5rem 1rem;
}

.spiceCalc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
}

.spiceCalc__form input {
  text-align: center;
  width: 50pt;
  font-size: 1rem;
  color: black;
  margin: 0 5pt 0 10pt;
  padding: 0.5rem;
}

.spiceCalc__outputArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25pt 10pt;
  text-align: center;
}

.spiceCalc__outputArea__spiceItem {
  margin: 10pt 30pt;
}

.spiceCalc__outputArea__spiceItem__item {
  font-size: 12pt;
  margin: 0 0px 0 0;
}

.spiceCalc__outputArea__spiceItem__qty {
  font-size: 30pt;
  margin: 0 6px 0 0;
}

.spiceCalc__outputArea__spiceItem__unit {
  font-size: 12pt;
  margin: 0;
}

.spiceCalc__copyrightNotice {
  font-size: 10pt;
  font-style: italic;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */